#boxGrille{
  table{
    width: 100%;
    text-align: left;
    thead{
      background-color: $couleurBouton;
      color: $couleurBackground;
      th{
        padding: 1rem;
      }
    }
    td{
      padding: 1rem;
      border-bottom: 1px solid #D9D9D9;
    }
  }
}