{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <section class="resetPassword">
        <h1>Définir un nouveau mot de passe</h1>

        <form class="resetPassword" method="post">
            <div>
                <label for="email">Votre adresse e-mail</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Entrez votre e-mail" required>
            </div>
            <div>
                <label for="password">Nouveau mot de passe</label>
                <input type="password" placeholder="Entrez votre nouveau mot de passe" name="newPassword" id="newPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <div>
                <label for="password">Confirmation du nouveau mot de passe</label>
                <input type="password" placeholder="Confirmez votre nouveau mot de passe" name="newPasswordConf" id="newPasswordConf" class="form-control" autocomplete="current-password" required>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">Mettre à jour</button>
        </form>
    </section>
{% endblock %}
