{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="resetPassword">
        <h2>Réinitialisation du mot de passe</h2>

        {{ form_start(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.newPassword, { label: 'Nouveau mot de passe' }) }}

            <button type="submit" class="btn">Réinitialiser</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
