{% extends 'base.html.twig' %}

{% block title %}Création groupe{% endblock %}

{% block main %}

   <h1>Rejoindre un groupe</h1>
    <h2>SAE 401</h2>
    <div id="groupes_grid">
       <!-- mettre un for pour afficher les groupes-->
       <div class="groupe_grid">
           <h3>Groupe 1 - 5 personnes</h3>
           <div class="eleve_grid">
                  <div class="élève_groupe">
                     <p>Julie</p>
                     <p>COULANDREAU</p>
                  </div>
                   <div class="élève_groupe">
                       <p>Houda</p>
                       <p>PERIES</p>
                   </div>
           </div>
           <button class="bouton bouton_groupe">Rejoindre</button>
       </div>

        <div class="groupe_grid">
            <h3>Groupe 1 - 5 personnes</h3>
            <div class="eleve_grid">
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
            </div>
            <button class="bouton bouton_groupe">Rejoindre</button>
        </div>
        <div class="groupe_grid">
            <h3>Groupe 1- 4 personnes</h3>
            <div class="eleve_grid">
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
                <div class="élève_groupe">
                    <p>Julie</p>
                    <p>COULANDREAU</p>
                </div>
            </div>
            <button class="bouton bouton_groupe">Rejoindre</button>
        </div>






    </div>
{% endblock %}
