{% extends 'base.html.twig' %}

{% block title %}Création groupe{% endblock %}

{% block main %}

   <h1>Rejoindre un groupe</h1>
    <div id="groupes_grid">
       <!-- mettre un for pour afficher les groupes-->
       <div id="groupe">
           <h3>Groupe 1</h3>
          <div id="élèves">
             <p>Julie</p>
             <p>COULANDREAU</p>
          </div>
           <button>Rejoindre</button>
       </div>
        <div id="groupe">
            <h3>Groupe 1</h3>
            <div id="élèves">
                <p>Julie</p>
                <p>COULANDREAU</p>
            </div>
            <button>Rejoindre</button>
        </div>
        <div id="groupe">
            <h3>Groupe 1</h3>
            <div id="élèves">
                <p>Julie</p>
                <p>COULANDREAU</p>
            </div>
            <button>Rejoindre</button>
        </div>

    </div>
{% endblock %}
