

.noteBox{

  padding-left: 5vh;
  .titre_note{
    gap: 2%;
    display: flex;
    align-items: center;
    font-weight: 400;
    svg{
      height: 4vh;
      transition: transform 0.3s ease;
    }

    h3{
      color: $couleurTexte;
    }

    .moyenne_eleve{
      background-color: $couleurGrisClair;
      padding: 1vh;
      border-radius: 6px;
      font-size: 10pt;
    }
  }

  .notes_matiere{

    padding-left: 7vh;
    transition: height 0.3s ease-in-out;

    .note_evaluation{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      width: 40%;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      &:hover{
        background-color: $couleurBackground;
      }
      .notes{
        display: flex;
        justify-content: flex-end;
        .note{
          width: fit-content;
        }
      }


      .p{
        color: $couleurTexte;
        display: flex;
        align-items: center;
        margin: 0;
      }

      .svg{
        display: flex;
        align-items: center;
        svg{
          height: 3vh;
          stroke: black;
        }
      }
    }
  }


}