#h1_reclamation{
  color: $couleurBouton;
}

#info_reclamation{
  width: 95%;
  background-color: $couleurNeutre;
  border-radius: 15px;
  padding: 2%;

  p{
    margin: 3vh 0 3vh 0;
  }

  #info_note_reclamation{
    padding:  0;
    display: flex;
    width: 35%;
    justify-content: space-between;

    #note_reclamation{
      @include note($couleurNoteRouge);
    }


  }

  #input_reclam{
    background-color: $couleurBackground;
    width: 100%;
    margin: 3vh 0;
    border: 0;
    height: 20vh;
    padding: 0;
    resize: none;
    border-radius: 5px;
  }

  #bouton_reclamation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-content: end;

    #padding_bouton_reclam{
     margin-right: 2vh;
    }
  }


}