.ajoutEvaluation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    display: flex;
    flex-direction: column;
    div{
      width: 100%;
      margin-top: 0.3rem;
    }
    .duo{
      display: flex;
      justify-content: space-between;
      gap: 30px;
      .coef{
        width: 35%;
      }
    }
    .duo_bouton{
      margin-top: 3rem;
    }
  }

}