#notes_evaluation {
  #titre_bouton_eval {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .bouton {
      width: 20vh;
      height: fit-content;
      margin-top: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .header_notes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
    margin-bottom: 2%;
    font-weight: bold;
    padding-left: 0.5%;

    p {
      margin: 2% 2%;
    }
  }

  .note-wrapper {
    margin-bottom: 1rem;

    .note_eleve {
      width: 98.8%;
      height: 8vh;
      background-color: $couleurNeutre;
      display: grid;
      grid-template-columns: 0.2fr 1fr 1fr 1fr 2fr;
      align-items: center;
      margin: 1% 0 0 0;
      padding: 0.5%;
      border: 0.1rem solid $couleurBackground;

      .down {
        display: flex;
        width: 2rem;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
        img{
          width: 2rem;
        }
        &:hover {
          cursor: pointer;
        }

        &.rotated svg {
          transform: rotate(180deg);
          transition: transform 0.3s ease-in-out;
        }
      }

      p {
        margin: 1% 2%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .note {
        width: 10%;
      }

      .non_note {
        width: 60%;
        font-style: italic;
        color: $couleurGris;
      }

      .commentaire {
        font-style: italic;
        color: $couleurGris;
      }
    }

    .criteres_eleve {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, padding 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .critere_eleve {
        width: 95.5%;
        display: grid;
        grid-template-columns:1fr 1fr 2fr;
        align-items: center;
        padding: 0.5%;
        //border-radius: 6px;
        border-left: 0.1rem solid $couleurBackground;
        border-right: 0.1rem solid $couleurBackground;
        border-bottom: 0.1rem solid $couleurBackground;
        .input_critere_eleve{
          display: flex;
          justify-content: center;
          input{
            max-width: 3rem;
          }
        }
      }

      &.open {
        max-height: 500px;
      }
    }
  }
}