{% extends 'base.html.twig' %}

{% block title %}Proil{% endblock %}

{% block main %}
<h1>Vos informations personnelles </h1>
<div class="infosProfil">

        <p>{{ utilisateur.prenom }} {{ utilisateur.nom }}</p>

        <a href="{{ path ('app_logout') }}">Déconnexion</a>
</div>



{% endblock %}
