{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block main %}
<h1>Vos informations personnelles </h1>
<div class="infosProfil">
        <p>{{ etudiant.prenom }} {{ etudiant.nom }}</p>
        <a href="{{ path ('app_logout') }}">Déconnexion</a>
</div>



{% endblock %}
