header{
  height: 87vh;
  width: 5%;
  left:0;
  display: flex;
  align-items: center;
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.5rem 0;
    margin-left: 0.5rem ;
    border-radius: 10rem;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    position: relative;
    a{
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 10rem;
      position: relative;
      &:hover{
        background-color: $couleurBouton;
        svg{
          filter: invert(1);
        }
      }
      &:hover + div{
        display: flex;
      }
      &:visited{
        color: $couleurTexte;
      }
    }
    div {
      display: none;
      position: absolute;
      left: 110%;
      background-color: $couleurBouton;
      color: $couleurBackground;
      padding: 10%;
      border-radius: 5px;
      transition: opacity 0.3s ease-in-out;
    }
    #popAccueil{
      top: 10%;
    }
    #popNotes{
      top: 32%;
    }
    #popChat{
      top: 56%;
    }
    #popDarkMode{
      top: 76%;
    }
  }
}
.header{
  width: 98%;
  margin: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    img{
      width: 3rem;
    }
  }
  .partSearch{
    width: 70%;
    .search-bar {
      display: flex;
      align-items: center;
      border: 2px solid $couleurBouton;
      border-radius: 50px;
      padding: 0 10px;
      width: 100%;
      max-width: 450px;

      input {
        border: none;
        outline: none;
        flex: 1;
        margin: 0;
        padding: 0.7rem 0;
        background-color: $couleurBackground;
        font-size: 16px;
        color: $couleurBouton;
        &::placeholder{
          color: $couleurBouton;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
          stroke: $couleurBouton;
        }
      }
    }

  }
  .infoPerso{
    display: flex;
    justify-content: space-around;
    p{
      color: $couleurBouton;
      font-size: 15pt;
      font-weight: 500;
      margin-right: 1.5rem;
    }
    img{
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 159px;
    }
  }
}
.blockPrincipal{
  display: flex;
  justify-content: space-between;
}

main {
  width: 95%;
  //height: 87vh;
  padding: 20px;


  //css accueil etudiant

  section#dashboardProf {
    .gridProf {
      width: 100%;
      height: 87vh;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 25px;

      .alertesEtudiant, .demandesEtudiant, .groupesEtudiant, .progressionEtudiant {
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        border-radius: 15px;
        padding: 15px;
        overflow-y: hidden;
        background-color: $couleurNeutre;

        .headerSectionDash {
          display: flex;
          justify-content: space-between;
          color: $couleurBouton;


          .nomSection {
            display: flex;
            align-items: center;

            .icons {
              width: 5%;
              margin-right: 10px;
            }

            h2 {
              margin: 0;
            }
          }

          .ajouter {
            @include bouton($couleurBackground, $couleurBouton, 1px solid $couleurBouton, 50%);
            text-decoration: none;
            text-align: center;
            width: 20px;
            height: 20px;
          }
        }

      }

      .alertesEtudiant {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        .allAlertes {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .alerteItem {
            display: flex;

            div {
              display: flex;
              align-items: center;
              margin: 0 1rem;
              justify-content: center;

              img {
                width: 2.5rem;
                border-radius: 99px;
              }

              svg {
                width: 5rem;
              }
            }

            p {
              text-align: left;
            }


          }
        }
      }

      .demandesEtudiant {
        grid-column: 4 / 6;
        grid-row: 1 / 2;


        .toutesLesRessources {
          overflow-y: scroll;
          height: 100%;
          width: 100%;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: none;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background: #a4a4a4;
            border-radius: 50px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #8c8c8c;
          }

          .ressourcesAffichage {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $couleurTexte;
            margin-bottom: 1rem;

            a {
              color: $couleurTexte;
            }

            .crudRessource {
              display: flex;
              align-items: center;

              a {
                text-decoration: none;

                .icons {
                  width: 20px;
                  height: auto;
                  margin-left: 10px;
                  color: $couleurTexte;
                }
              }

              form {
                button {
                  background-color: transparent;
                }
              }
            }
          }
        }

      }

      .groupesEtudiant {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        padding-bottom: 2rem;

        #div_groupe{
          overflow-y: scroll;
          height: 100%;
          width: 100%;
          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: none;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background: #a4a4a4;
            border-radius: 50px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #8c8c8c;
          }
          .div_nom_groupe{
            padding-left: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;

            .matiere_groupe{
              color: $couleurTexte;
              font-weight: 500;
              width: 32%;
            }

            .matiere_evaluation{
              width: 30%;
            }

            .matiere_voir{
              background-color: $couleurBouton;
              color: $couleurNeutre;
              padding: 1vh;
              border-radius: 6px;
              width: 18%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s ease-in-out;
              &:hover{
                background-color: $couleurBoutonHover;
              }
            }
          }
        }
      }

      .progressionEtudiant{
        grid-column: 3/ 6;
        grid-row: 2 / 3;
      }
    }
  }
}
