{% extends 'base.html.twig' %}

{% block title %}Modification d'une Ressource{% endblock %}

{% block main %}
    {% block form %}
        <h1>Modification d'une ressource</h1>
        {{ form_start(form_matiere) }}
        {{ form_row(form_matiere.nom) }}
        <button class="btn">{{ button_label|default('Mettre à jour') }}</button>
        {{ form_end(form_matiere) }}
    {% endblock %}
{% endblock %}