html{
  background-color: $couleurBackground;
}

body{
  font-family: "Inter", sans-serif;
}

main{
  overflow-y: auto;
  overflow-x: hidden;
}

.header, header{
  overflow-y: hidden;
  overflow-x: hidden;
}


//textes
h1, h2{
  color: $couleurBouton;
}

a{
  text-decoration: none;
}

// div blanche
.div_blanche{
  @extend %div_blanche;
}


//input pour les formulaires
input, select {
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  margin: 8px 0;
}

//boutons
.bouton{
  @include bouton($couleurBackground, $couleurBouton, 1px solid $couleurBouton, 8px, 0.7rem 1.2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg{
    padding-left: 0.5rem;
    color: $couleurBackground;
  }
  &:hover{
    cursor: pointer;
    @include bouton($couleurBackground, #273b8c, 1px solid #273B8CFF, 8px, 0.7rem 1.2rem);
  }
}

.boutonSecondaire{
  @include bouton($couleurTexte, #D9D9D9, 1px solid #D9D9D9, 8px, 0.7rem 1.2rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  svg{
    padding-left: 0.5rem;
  }
  &:hover{
    @include bouton($couleurTexte, #b3b1b1, 1px solid #B3B1B1FF, 8px, 0.7rem 1.2rem);
    border-radius: 50px;
    cursor: pointer;
  }
}


//alertes messages d'erreurs
.alert{
  display: flex;
  align-items: center;
  color: $couleurAlerte;
}

.custom-style{
  border-radius: 15px;
}

.btn-confirm{
  @include bouton($couleurBackground, $couleurAlerte, $couleurAlerte, 8px, 0.5rem 1rem);
}

.btn-cancel{
  @include bouton($couleurBackground, $couleurBouton, $couleurBouton, 8px, 0.5rem 1rem);
}


.iconForm{
  width: 25px;
  height: 25px;
}


// couleurs notes
.vert, .orange, .rouge, .gris{
  padding: 0.3rem 1rem;
  color: $couleurTexte;
  border-radius: 5px;
  width: 10%;
  text-align: center;
}

.vert{
  background-color: $couleurNoteVerte;
}

.orange{
  background-color: $couleurNoteOrange;
}

.rouge{
  background-color: $couleurNoteRouge;
}

.gris{
  background-color: $couleurGris;
  color: $couleurNeutre;
}


//DISPLAY NONE
.display-none{
  display: none;
}


// LIENS VISITES --------------------------------------------------------------------------

.boutonRetour{
  margin-bottom: 5px;
  color: $couleurTexte;
  &:visited{
    color: $couleurTexte;
  }
}



// DARK MODE ------------------------------------------------------------------------------ //

.dark {
  background-color: $couleurTexte;
  color: $couleurBackground;

  .header {                                                  //---Bonjour, ...
    .infoPerso p {
      color: $couleurBackground;
    }
  }

  .blockPrincipal nav{                                        //---nav
    background-color: #1c1c1c;
    a{
      color: $couleurBackground;
    }
  }

  .div_blanche, .ajoutMatiere, .ajoutGrille{                 //---div de fond
    background-color: #1c1c1c;

    .noteBox{
      .moyenne_eleve{
        color: $couleurBackground;
        background-color: $couleurTexte;
      }

      h3{
        color: $couleurBackground;
      }

      .notes_matiere .note_evaluation a{
        color: $couleurBackground;
      }
    }

    .boxNoteDetails .infosGeneraleNoteDetails .infosGenerales h3{
      color: $couleurBackground;
    }
  }

  .box .boxGrille a{
    background-color: $couleurTexte;
    color: $couleurBackground;
    &:hover{
      background-color: #202020;
      border-bottom: 1px solid $couleurBackground;
    }
  }

  #groupes_grid .groupe_grid {                            //---pour la page de visualisation des groupes : /groupe/{id}
    background-color: #292929;
    border: #1b1b1b;

    .eleve_grid .élève_groupe {
      background-color: #1c1c1c;
      border: none;
    }
  }

  .overlay .modal{                                        //---pour les modales
    background-color: $couleurTexte;
    color: $couleurBackground;
    .modal-header h2, .modal-header button{
      color: $couleurBackground;
    }
  }

  #ressources {                                            //---pour les ressources
    h3{
      color: $couleurBackground;
    }
    .ressource_prof_grid .ressources_carte{
      background-color: $couleurTexte;

      .evaluation_box_nom .eval_nom {
        color: $couleurBackground;
      }
    }
  }

  #notes_evaluation .note-wrapper {
    .note_eleve {
      background-color: $couleurTexte;
      border: 1px solid #383838;

      p {
        color: $couleurBackground;
      }
    }

    .criteres_eleve .critere_eleve{
      border-left: 0.1rem solid #333333;
      border-right: 0.1rem solid #333333;
      border-bottom: 0.1rem solid #333333;
    }
  }

  .boutonRetour{                                           //---pour le bouton retour
    color: $couleurBackground;
  }


}

.dark main section#dashboardProf .gridProf{             //---blocs du tableau de bord
  .alertesEtudiant, .demandesEtudiant, .groupesEtudiant, .progressionEtudiant, .alertesProf, .ressourcesProf, .grillesProf{
    background-color: #1c1c1c;
    color: $couleurBackground;
  }

  .groupesEtudiant{                                     //---pour la box groupe du dashboard
    #div_groupe .div_nom_groupe p {
      color: $couleurBackground;
    }
  }

  .ressourcesProf .toutesLesRessources .ressourcesAffichage {    //---pour la box ressources du dashboard
    color: $couleurBackground;
    a, .crudRessource .actionCrud{
      color: $couleurBackground;
    }
  }

  .toutesLesGrilles .grillesAffichage {                       //---pour la box grilles du dashboard
    a.grille-link{
      color: $couleurBackground;
    }
    .crudGrille {
      a, form button{
        color: $couleurBackground;
      }
    }
  }


}



/*
  //------------------------pour la nav ----------------------------- //


  //------------------------pour la box "alertes" du dashboard et la div blanche --------------------- //

  .dark main section#dashboardProf .gridProf .alertesEtudiant, .dark main section#dashboardProf .gridProf .alertesProf, .dark .div_blanche{
    color: $couleurBackground;
    background-color: #1c1c1c;
  }

  .dark main section#dashboardProf .gridProf .ressourcesProf, .dark main section#dashboardProf .gridProf .grillesProf, .dark .div_blanche{
    color: $couleurBackground;
    background-color: #1c1c1c;
    .toutesLesGrilles .grillesAffichage {
      a{
        color: $couleurBackground;
      }
      .crudGrille form button{
        color: $couleurBackground;
      }
    }
  }

  .dark main section#dashboardProf .gridProf .alertesProf .headerSectionDash .nomSection {
    color: $couleurBackground;
    background-color: #1c1c1c;
  }

  .dark section#dashboardProf .gridProf .ressourcesProf .toutesLesRessources .ressourcesAffichage {
    color: $couleurBackground;
    a{
      color: $couleurBackground;
    }
    .crudRessource .actionCrud{
      color: $couleurBackground;
    }
  }

  //------------------------pour la box "demandes" du dashboard --------------------- //

  .dark main section#dashboardProf .gridProf .demandesEtudiant{
    color: $couleurBackground;
    background-color: #1c1c1c;
  }

  //------------------------pour la box "groupes" du dashboard --------------------- //

  .dark main section#dashboardProf .gridProf .groupesEtudiant{
    color: $couleurBackground;
    background-color: #1c1c1c;

    //pour la box groupe du dashboard ----------------------
    #div_groupe .div_nom_groupe p {
      color: $couleurBackground;
    }
  }

  //------------------------pour la page de visualisation des groupes : /groupe/{id}--------------------- //

  .dark #groupes_grid .groupe_grid {
    background-color: #292929;
    border: #1b1b1b;

    .eleve_grid .élève_groupe {
      background-color: #1c1c1c;
      border: none;
    }
  }

  //------------------------pour la box "progression" du dashboard --------------------- //

  .dark main section#dashboardProf .gridProf .progressionEtudiant{
    color: $couleurBackground;
    background-color: #1c1c1c;
  }

  //------------------------pour le bouton retour ------------------------------------ //
  .dark .boutonRetour{
    color: $couleurBackground;
  }

  //-----------------------pour la page de note : /note ------------------------------ //

  .dark main .div_blanche .noteBox{
    .moyenne_eleve{
      color: $couleurBackground;
      background-color: $couleurTexte;
    }

    h3{
      color: $couleurBackground;
    }

    .notes_matiere .note_evaluation a{
      color: $couleurBackground;
    }
  }


  .dark main .ajoutEvaluation{
    background-color: #1c1c1c;
  }

  .dark .ficheMatiere{
    .box1 #bouton_fiche_flex .actions .bouton_fiche{
      background-color: $couleurTexte;
      color: $couleurBackground;
      border: #1c1c1c;
    }
    .box2 .boxEvaluation{
      background-color: $couleurTexte;
    }
  }

  .dark #notes_evaluation #note_eleve {
    background-color: $couleurTexte;
  }

  .dark .ajoutGrille{
    background-color: #1c1c1c;
  }

  .dark .overlay .modal{
    background-color: $couleurTexte;
    color: $couleurBackground;
    .modal-header h2, .modal-header button{
      color: $couleurBackground;
    }
  }


  .dark #ressources {
    h3{
      color: $couleurBackground;
    }
    .ressource_prof_grid .ressources_carte{
      background-color: $couleurTexte;
      .evaluation_box_nom .eval_nom {
        color: $couleurBackground;
      }
    }
  }
}

*/
