@mixin bouton($color:$couleurBackground, $background:$couleurBouton, $border:1px solid $couleurBouton, $border-radius:8px ,$padding:1%){
  color: $color;
  background-color: $background;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
}

@mixin note($couleurNote:$couleurNeutre){
  color: $couleurTexte;
  background-color: $couleurNote;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vh 1vh;
  border-radius: 6px;
  min-width: 5vh;
  max-width: 7vh;
}