//colors
$couleurBackground: #F5F5F5;
$couleurTexte: #161616;
$couleurBouton: rgb(66, 101, 235);
$couleurBoutonHover: #2E4CC2;
$couleurNeutre: white;
$couleurAlerte: #a80101;
$couleurAlerteHover: #780505;
$couleurNoteRouge : #FF6363;
$couleurNoteOrange: #FAA64B;
$couleurNoteVerte: #15C377;
$couleurGris: #343434;
$couleurGris2: #5F5D5D;
$couleurGrisClair: #D9D9D9;


//fonts
