//colors
$couleurBackground: #F5F5F5;
$couleurTexte: #080808;
$couleurBouton: rgb(66, 101, 235);
$couleurNeutre: white;
$couleurAlerte: #BD0000;
$couleurNoteRouge : #FF6363;
$couleurNoteOrange: #FAA64B;
$couleurNoteVerte: #15C377;


//fonts
