#ressources{

  h3{
    font-size: 20pt;
    color: $couleurTexte;
  }
  .ressource_prof_grid{
    a{
      font-size: 17pt;
      color: $couleurBouton;
      font-weight: 700;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    .ressources_carte{
      height: fit-content;
      padding: 2vh;
      background-color: lightblue;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 12pt;

      .evaluation_box_nom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 5vh;
        background-color: lightgreen;
        width: 80%;

        .eval_nom{
          width: 50%;
        }

        .eval_statut{
          width: 30%;
        }

        svg{
          height: 3vh;
        }
      }
    }


  }
}