#ressources{

  h3{
    font-size: 20pt;
    color: $couleurTexte;
  }
  .ressource_prof_grid{
    a{
      font-size: 17pt;
      color: $couleurBouton;
      font-weight: 700;

    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    .ressources_carte{
      height: fit-content;
      padding: 2vh;


      //background-color: lightblue;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 12pt;


      .evaluation_box_nom{
        padding: 2vh 0 2vh 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        //padding-left: 5vh;
        //background-color: lightgreen;
        width: 80%;

        .eval_nom{
          width: 50%;
          font-size: 12pt;
          color: $couleurTexte;
          font-weight: 400;
        }

        .eval_statut{
          width: 25%;
          padding: 1vh 0.5vh;
          font-size: 11pt;
          font-weight: 400;
          color: $couleurTexte;
        }

        svg{
          height: 3vh;
        }
      }

      .pas_de_note{

        p{
          background-color: $couleurNoteRouge;
          border-radius: 6px;
          width: fit-content;
          padding: 1vh;
        }
      }
    }


  }
}