.boutonRetour {
  display: flex;
  align-items: center;
  .icon {
    width: 3%;
    margin-right: 5px;
  }
  &:hover{
    cursor: pointer;
  }
}

.ficheMatiere{
  display: flex;
  gap: 5%;

  //la box1 correspond à la boxe où on choisit à qui on veut mettre la note. Ex : le TD A des BUT1
  .box1{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: 15px;
    padding: 15px;

    .choixGroupe, .actions{
      display: flex;
      justify-content: space-between;
      width: 100%;
      a{
        font-size: 14px;
      }
    }
    .actions{
      margin-top: 1rem;
    }
  }

  .box2{
    width: 45%;

    .boxEvaluation{
      width: 100%;
      box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
      border-radius: 15px;
      padding: 15px;
      gap: 10%;
      margin-bottom: 20px;

      h2{
        color: $couleurBouton;
        margin: 0 0 1rem 0;
      }

      .infoEvaluation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        width: 100%;

        .caracteristiqueEvaluation {
          grid-column: 1/2;
        }

        .notesEvaluation{
          grid-column: 2/3;
          width: 100%;
          .note{
            display: flex;
            justify-content: space-between;

            p{
              margin: 0.5rem;
            }
          }
        }
      }

      .actionEvaluation{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 1rem;
        div{
          display: flex;
          gap: 5%;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.supprimer{
  @include bouton($couleurBackground, $couleurAlerte, 1px solid $couleurAlerte, 8px, 0.7rem 1.2rem);
  border-radius: 50px;
  margin-top: 25px;
  &:hover{
    @include bouton($couleurBackground, #780505, 1px solid #780505, 8px, 0.7rem 1.2rem);
    cursor: pointer;
    border-radius: 50px;
  }
}


