<h1>Demande de réinitialisation de mot de passe</h1>

<p>Vous avez demandé une réinitialisation de votre mot de passe.</p>
<p>Si vous êtes à l'origine de cette demande, continuer en cliquant <a href="http://sae401.mmi-troyes.fr:8319{{ path('app_reset_mdp') }}">ici</a>.</p>